/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap'); */

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
  background: url(../../assets/header.jpg);
  background-size: cover;
  background-position:center;
  height: 300px;
}

header h1 {
    text-align: center;
    font-size: 35px;
    color: #fff;
    padding: 30px 0;
}

.contenedor {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    contain: paint;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    width: calc(100% - 35%); /* Ajusta según el ancho del carrito */
}

.item {
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    text-align: center;
}

.img-item {
    width: 100%;
}

.item:hover {
    box-shadow: 0 0 10px #666;
    transform: scale(1.05);
}

.titulo-item {
    font-weight: bold;
    text-transform: uppercase;
}

.precio-item {
    font-weight: bold;
    font-size: 22px;
}

.boton-item {
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

/* SECCION CARRITO */
.carrito {
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: sticky;
    top: 0;
    transition: .3s;
}

.carrito .header-carrito {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrito .carrito-items {
    padding: 0;
}

.carrito .carrito-item {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.carrito .carrito-item img {
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo {
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    background: transparent;
}

.carrito .carrito-item .btn-eliminar i {
    pointer-events: none;
}

.carrito-total {
    background-color: #f3f3f3;
    padding: 30px;
}

.carrito-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar {
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover {
    transform: scale(1.05);
}

/* Agrega estilos para la sección de detalles del producto */
.producto-detalle {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto-detalle img {
  max-width: 100%;
  height: auto;
}

.btn-cerrar {
  margin-top: 16px;
  background-color: #f44;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}


/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
        display: block;
    }
    .contenedor-items {
        width: 100% !important;
    }
    .carrito {
        width: 100%;
        margin-right: 0;
        opacity: 1;
    }
}
