<div *ngIf="!token || !username">
  <h2>Recuperar Contraseña</h2>
  <form [formGroup]="requestForm" (ngSubmit)="requestReset()">
    <label for="username">Nombre de Usuario:</label>
    <input type="text" id="username" formControlName="username" required>
    <button type="submit">Enviar Enlace de Restablecimiento</button>
  </form>
</div>

<div *ngIf="token && username">
  <h2>Restablecer Contraseña</h2>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <label for="newPassword">Nueva Contraseña:</label>
    <input type="password" id="newPassword" formControlName="newPassword" required>
    <button type="submit">Restablecer</button>
  </form>
</div>
